palette="catppuccin_mocha"

format = """
[┌─](fg:surface2)\
[](fg:surface2)\
[](bg:surface1 fg:surface1)\
[](bg:surface0 fg:surface0)\
$os\
$directory\
$time\
$fill\
$git_branch\
$git_status\
$cmd_duration
[└─ ](fg:surface2)
"""

# Disable the blank line at the start of the prompt
add_newline = false

[os]
disabled=false
format="[](bg:surface0 fg:red)[󰄛](bg:red fg:crust bold)[](bg:pink fg:red)"

[directory]
disabled=false
style="bg:pink fg:crust"
format="[ $path]($style)[](bg:mauve fg:pink)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = " "
"Downloads" = " "
"Music" = " "
"Pictures" = " "
"Videos"=" "

[time]
disabled=false
time_format="%R" # Hour:Minute Format
style="bg:mauve fg:crust"
format ='[  $time ]($style)[](fg:mauve)'

[fill]
symbol=" "

[git_status]
format=" [$all_status$ahead_behind]($style) "
style="fg:mauve"
conflicted="="
ahead="⇡${count}"
behind="⇣${count}"
diverged="⇕⇡${ahead_count}⇣${behind_count}"
up_to_date="󰚰"
untracked="?${count}"
stashed=""
modified="!${count}"
staged="+${count}"
renamed="»${count}"
deleted="󰛌${count}"

[git_state]
rebase = "REBASING"
merge =	"MERGING"
revert = "REVERTING"
cherry_pick = "CHERRY-PICKING"
bisect = "BISECTING"
am = "AM"
am_or_rebase = "AM/REBASE"
style =	"yellow"
format = '\([$state( $progress_current/$progress_total)]($style)\) '

[cmd_duration]
min_time=1
disabled=false
style="bg:mauve fg:crust"
format="[](fg:surface0)[ ](bg:surface0 fg:mauve)[ $duration]($style)[](fg:mauve)"

[palettes.catppuccin_mocha]
rosewater="#f5e0dc"
flamingo="#f2cdcd"
pink="#f5c2e7"
mauve="#cba6f7"
red="#f38ba8"
maroon="#eba0ac"
peach="#fab387"
yellow="#f9e2af"
green="#a6e3a1"
teal="#94e2d5"
sky="#89dceb"
sapphire="#74c7ec"
blue="#89b4fa"
lavender="#b4befe"
text="#cdd6f4"
subtext1="#bac2de"
subtext0="#a6adc8"
overlay2="#9399b2"
overlay1="#7f849c"
overlay0="#6c7086"
surface2="#585b70"
surface1="#45475a"
surface0="#313244"
base="#1e1e2e"
mantle="#181825"
crust="#11111b"
