@import './mocha.css';

* {
  border: none;
  border-radius: 0px;
  font-family: JetBrainsMonoNL Nerd Font, monospace;
  font-size: 14px;
  font-weight: 800;
  min-height: 28px;
}

tooltip {
  background: @base;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @blue;
}

window#waybar {
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
  padding: 0 5px;
  background: transparent;
}

window#waybar > box {
  background-color: alpha(@base, 1);
  margin-bottom: 5px;
  box-shadow: 0px 3px 3px alpha(@base, 0.8);
  border-radius: 12px;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* Module left */
#custom-menu {
  font-size: 26px;
  padding-left: 18px;
  padding-right: 12px;
  background-color: alpha(@surface0, 0.5);
  border-radius: 10px 0px 0px 10px;
  color: @mauve;
}

#workspaces {
  background-color: alpha(@surface0, 0.5);
  border-radius: 0px 16px 16px 0px;
}

#workspaces button {
  border-radius: 10px;
  color: @surface0;
}

#workspaces button.active {
  color: @lavender;
  background: transparent;
}

#workspaces button:hover {
  background: transparent;
  box-shadow: inherit;
  border: 0px;
  color: @mauve;
}

#tray {
  padding: 0 8px;
  border-radius: 8px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
  background-color: @surface0;
}

#custom-media {
  color: @lavender;
  color: @sapphire;
}

/* Module Center */
#clock {
  color: @blue;
  padding: 0 24px;
}

#custom-updater {
  padding-right: 16px;
  color: @green;
}

/* Module Right */
#battery {
  padding-right: 12px;
  color: @lavender;
}

@keyframes warning {
  from {
    color: alpha(@yellow, 1);
  }
  to {
    color: alpha(@yellow, 0.5);
  }
}
@keyframes critical {
  from {
    color: alpha(@red, 1);
  }
  to {
    color: alpha(@red, 0.3);
  }
}
@keyframes charging {
  from {
    color: alpha(@lavender, 1);
  }
  to {
    color: alpha(@lavender, 0.5);
  }
}
#battery.charging,
#battery.plugged {
  color: @yellow;
  animation-name: charging;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.critical {
  color: @red;
}
#battery.critical:not(.charging) {
  color: @red;
  animation-name: critical;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.warning {
  color: @yellow;
  animation-name: warning;
  animation-duration: 0.75s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight {
  padding-right: 12px;
  color: @peach;
}

#pulseaudio {
  color: @pink;
  padding-right: 12px;
}
#pulseaudio.microphone {
  color: @flamingo;
  padding-right: 12px;
}
#pulseaudio.muted:not(.microphone) {
  color: alpha(@pink, 0.7);
}
#pulseaudio.microphone.source-muted {
  color: alpha(@flamingo, 0.7);
}

#network {
  color: @maroon;
}
#network.disconnected {
  color: alpha(@maroon, 0.7);
}

#custom-power {
  padding-right: 20px;
  padding-left: 16px;
  font-size: 18px;
  color: @red;
}
